# Ignore Terraform variable files
*.tfvars
*.tfstate
*.tfstate.backup
*.lock.hcl
terraform-provider-google_v6.14.1_x5
# Ignore sensitive files
secret.json
private_key.pem
.env
# Ignore Terraform plan files
*.tfplan
